@model MineFoodsViewModel
@{
    double calories = (Model.Protein * 4) + (Model.Carbs * 4) + (Model.Fat * 9);
}
<div class="card" style="width: 18rem;">
    <div class="card-header">
        <p class="fw-bold">@Model.Name</p>
    </div>
    <div class="list-group list-group-flush">
        <p class="list-group-item">Protein: @Model.Protein</p>
        <p class="list-group-item">Fat: @Model.Fat</p>
        <p class="list-group-item">Carbs: @Model.Carbs</p>
        <p class="list-group-item">
            Total Calories per 100g:
        </p>
        <p class="text-center">@calories kcal</p>
        
    </div>
</div>